.container
{
    border:8px solid black;
}
/* .row
{
    border:5px solid red;
} */
.col-md-4
{
    background-color: pink;
    color:green;
}
.col-md-4 a
{
    text-decoration: none;
}

.pink{
    background-color: pink;
}
.orange
{
    background-color: orange;
}
.blue
{
    background-color: aqua;
}
.green
{
    background-color:green;
}
.red
{
    background-color: red;
}
.yellow
{
    background-color: yellow;
}